/* Default responsive sizing */
@media all {
  nav {
    flex-direction: column;
  }

  main {
    margin: 0 auto;
    justify-content: space-around;
  }

  body {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }

  form {
    padding: var(--space-xs);
  }
}

/* Responsive design */
@media (min-width: 360px) {
  body {
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
  }

  form {
    padding: var(--space-sm);
  }

  nav {
    flex-direction: row;
  }
}

/* Responsive design */
@media (min-width: 720px) {
  body {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }

  form {
    padding: var(--space-lg);
  }

  nav {
    flex-direction: row;
  }
}
