<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PTO Dashboard Components Test</title>
    <link rel="stylesheet" href="../../styles.css" />
  </head>

  <body>
    <h1>PTO Dashboard Components Test</h1>
    <div id="test-output"></div>

    <pto-summary-card></pto-summary-card>
    <month-summary></month-summary>
    <pto-pto-card></pto-pto-card>
    <pto-employee-info-card></pto-employee-info-card>

    <script type="module">
      import { ptoDashboard } from "/app.js";
      ptoDashboard();
    </script>
  </body>
</html>
